<h1>Here is the Home page for all users</h1>
<ul>
  <% @users.each do |user| %>
    <a href="<%= user_path(user) %>">
      <div class="user-box">
        <%= render partial: 'shared/user_photo', locals: { user: user } %>
        <%= render partial: 'shared/user_deets', locals: { user: user } %>
      </div>
    </a>
  <% end %>
</ul>