ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.user-box {
  display: flex;
  margin-bottom: 1rem;
}

.user-photo {
  width: 16rem;
  height: 14rem;
  background-color: black;
  border-radius: 5px;
}

.user-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-left: 0.5rem;
}

.user-name {
  font-size: 44px;
  font-weight: bold;
}

.posts-count {
  font-size: 24px;
  font-weight: bold;
}

.user-post {
  border: black solid 2px;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
}

.post {
  display: flex;
  flex-direction: column;
}

.post-interactions {
  display: flex;
  font-size: small;
  gap: 5px;
  justify-content: flex-end;
}

.load-more-btn {
  display: flex;
  justify-content: center;
}

#load-more-btn {
  margin: 1rem auto;
  padding: 1rem;
}

#back-btn {
  margin-bottom: 1rem;
}

.bio {
  border: black solid 2px;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

.wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

/* Style the form box */
.form-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style form fields */
.field {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

/* Style remember me checkbox */
.remember {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

/* Style submit button */
.submit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

/* Style info text */
.info-text {
  text-align: center;
}


/* Style the container */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Style the back button */
#back-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  margin: 20px 0;
}

/* Style form container */
.field {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333; /* Text color */
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  color: #555; /* Text color */
}

/* Style form actions */
.actions {
  text-align: center;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
